{% extends 'base.html' %}
{%block content %}
{% load static %}
<section id="enrollform">
    <div class="login-card m-20 text-start">
        <h2>Admission Form</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h4 class="text-capitalize cl-blue">{{product_detail.product}}</h4>

            <div class="row">
                <div class="col-lg-4">
                    <label for="" class="mt-2">First Name</label>
                    <input type="text" name="f-name" placeholder="First Name" class="form-control" value="{{request.user.first_name}}">
                </div>
                <div class="col-lg-4">
                    <label for="" class="mt-2">Last Name</label>
                    <input type="text" name="l-name" placeholder="Last Name" class="form-control" value="{{request.user.last_name}}">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6">
                    <label for="" class="mt-2">Email</label>
                    <input type="email" name="email" placeholder="Email" class="form-control" value="{{request.user.email}}" readonly>
                </div>
                <div class="col-lg-6">
                    <label for="" class="mt-2">Phone Number</label>
                    <input type="text" name="phone" placeholder="Phone Number" class="form-control"  value="{%if userinfo%}{{userinfo.phone_number}}{%endif%}">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-8">
                    <label for="" class="mt-2">Date of Birth</label>
                    <input type="date" name="dob" placeholder="Date of Birth" class="form-control">
                </div>
                <div class="col-lg-4">
                    <label for="gender" class="mt-2">Gender</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-8">
                    <label for="" class="mt-2">Address</label>
                    <textarea type="text" name="address" placeholder="Address" class="form-control" rows="4">{%if userinfo%}{{userinfo.address}}{%endif%}</textarea>
                </div>
                <div class="col-lg-4">
                    <label for="" class="mt-2">Nationality</label>
                    <input type="text" name="nationality" placeholder="Nationality" class="form-control" value="{%if userinfo%}{{userinfo.nationality}}{%endif%}">
                </div>
            </div>
            <div class="mt-3">
                <label for="exp" class="mt-2">Experience</label>
                <textarea type="text" name="exp" placeholder="Experience" class="form-control">{%if userinfo%}{{userinfo.experience}}{%endif%}</textarea>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4">
                    <label for="qauli" class="mt-2">Educational Qualification</label>
                    <select name="qauli" id="qauli" class="form-select form-select-sm">
                        <option value="{%if userinfo%}{{userinfo.educational_qualification}}{%endif%}" class="dropdown-item">{%if userinfo%}{{userinfo.educational_qualification}}{%endif%}</option>
                        {% for q in quali %}
                        <option value="{{q}}" class="dropdown-item">{{q}}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="col-lg-4">
                    <label for="course" class="mt-2">Select the Course</label>
                    <select name="course" id="course" class="form-select form-select-sm">
                        {% for product in products %}
                        <option value="{{product}}" class="dropdown-item">{{product}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-4">
                    <label for="duration" class="mt-2">Duration</label>
                    <input type="text" name="duration" placeholder="Duration" class="form-control" value="{{product_detail.duration}}">
                </div>
            </div>

            <div >
                <div class="mt-3">
                    <label for="documents" class="form-label">Upload Documents</label>
                    <a href="{%if userinfo.documents%}{{userinfo.documents.url}}{%endif%}">{%if userinfo.documents%}{{userinfo.documents}}{%endif%}</a>
                    <input class="form-control" type="file" id="documents" value="{%if userinfo.documents%}{{userinfo.documents}}{%endif%}">
                </div>
                
            </div>

            <input type="submit" value="submit" class="btn btn-custom-dark mt-4">
        </form>
    </div>
</section>
{% endblock %}