{% extends "base_email.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="container">
    <div class="flex-d justify-content-center mt-5">
        <div class="card p-5">
            <h1 class="cl-blue">Reset yourpassword</h1>
            <div class="m-2">
                <p>We've emailed you instructions for setting your password.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}