<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>

Dear {{fname}},

Congratulations and welcome to {{course}}! We're thrilled to have you join us on this educational journey. Your commitment to learning is truly commendable.

We wanted to reach out and inform you that your enrollment in the course is almost complete. To gain full access to the course materials, resources, and interactive sessions, we kindly ask you to finalize the payment procedure.

Here are the payment details:

Course: {{course}}
Course Fee: 

To complete the payment, please follow these steps:

1. Log in to your account on our website:
2. Navigate to the "My Courses" or "Enrollment" section.
3. Locate {{course}}and click on the "Complete Payment" or "Pay Now" button.
4. Follow the prompts to enter your payment details and confirm the payment.

As soon as the payment is successfully processed, you'll gain immediate access to the course content and all the learning materials. Our team of experienced instructors and support staff are eager to assist you throughout this learning experience.

Should you encounter any issues during the payment process or have any questions regarding the course, please don't hesitate to reach out to our dedicated support team at.
We're excited to have you as a part of [Course Name] and can't wait to see the progress you make. Thank you for choosing us for your learning needs!

Best regards,


</body>
</html>